body {
    background-color: aquamarine;
    color: red;
    text-align: center;

    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

section{
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a{
    display:block;
    background-color: orangered;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:blanchedalmond;
}

footer {
    width: 100%;
    position: fixed;
    color: teal;
    background-color: wheat;
    padding: 20px;
    left: 0;
    bottom: 0;
}

.People-head{
    font-family: Arial, Helvetica, sans-serif;
}

.Droid-title{
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}

.card2{
    color: steelblue;
    border: 2px solid white;
    border-radius: 10px
}

.card3{
    color: gold;
    border: 2px solid lightsteelblue;
    border-radius: 10px;
}

.card4{
    color: gray;
    border: 2px solid silver;
    border-radius: 10px;
}

img {
    height: 100px;
}

.DrCard {
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}

.DrCard2 {
    color: silver;
    border: 2px solid gray;
    border-radius: 10px;
}

.DrCard3 {
    color: slategray;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.DrCard4 {
    color: steelblue;
    border: 2px solid lightyellow;
    border-radius: 10px;
}